body {
    font-family: Arial, sans-serif;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.faq-title {
    color: #0f3564;
    text-align: center;
    margin-bottom: 20px;
}

.faq-section {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.faq-section-header {
  color: white;
    width: 100%;
    padding: 10px;
    background-color: #C29958;;
    border: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.faq-content {
    display: none;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: left;
    cursor: pointer;
    outline: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-top: none;
}
