.star-rating .fa {
    position: relative;
    font-size: 24px;
    color: #ddd;
}

.star-rating .full-star {
    color: gold;
}

.star-rating .half-star {
    background: linear-gradient(90deg, gold 50%, #ddd 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star-rating .empty-star {
    color: #ddd;
}

.star-rating .fa::before {
    content: "\f005";
}
